@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --textColor: white;
  --primary: #252f30;
  --secondary: #c2bca6;
  --tertiary: #efbeac;
  --accent: #d53c00;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body {
  font-family: localTungsten, Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif !important;
  font-size: 40px;
  font-weight: 400;
}
@font-face {
  font-family: localTungsten;
  src: url(/assets/fonts/TungstenComp-Semibold.otf);
} */

@layer base {
  @font-face {
    font-family: TungstenNarrow;
    src: url(/assets/fonts/TungstenNarrow-Black_Web.woff2) format('woff2');
  }

  @font-face {
    font-family: TungstenMedium;
    src: url(/assets/fonts/TungstenCompressed-Medium.woff2) format('woff2');
  }
  @font-face {
    font-family: TungstenSemiBold;
    src: url(/assets/fonts/TungstenComp-Semibold.otf) format('otf');
  }
}
@layer components {
  .hero-text {
    font-size: clamp(2.25rem, 10vw, 12rem);
    line-height: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--primary);
  color: var(--textColor);
}

.popup {
  opacity: 0;
  animation: popup 5s linear infinite alternate;
}
.back-to-header-icon:hover {
  animation: backToHeader 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes backToHeader {
  0% {
    translate: 0%;
  }
  50% {
    translate: 0 -50%;
  }
  100% {
    translate: 0%;
  }
}
.text-slider {
  animation: scroll 90s linear infinite;
  width: calc(80% * 4);
}

.pattern::after {
  content: '';
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
  display: block;
  opacity: 0.5;
  background-color: black;
  background-image: linear-gradient(45deg, #ffffff 10%, transparent 10%),
    linear-gradient(-45deg, #ffffff 10%, transparent 10%),
    linear-gradient(135deg, #ffffff 10%, transparent 10%),
    linear-gradient(-135deg, #ffffff 10%, transparent 10%);
  background-position:
    10px 0,
    10px 0,
    0 0,
    0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-80% * 2));
  }
}

@keyframes popup {
  40%,
  100% {
    scale: 0;
    opacity: 0;
  }
  0% {
    scale: 0;
    opacity: 1;
  }
  8% {
    scale: 1;
    opacity: 1;
  }
  30% {
    scale: 1;
    opacity: 1;
  }
  38% {
    scale: 0;
    opacity: 1;
  }
}
